
/* Fade in on Page load
/--------------------------------------------------------------
--------------------------------------------------------------*/

@-webkit-keyframes fadeout {
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes fadeout {
    0% {opacity:0;}
    100% {opacity:1;}
}
.fadeOut {
  opacity:1;
  -moz-animation   : fadin 1.5s ease;
  -webkit-animation: fadeout 1.5s ease;
  animation        : fadeout 1.5s ease;
}


/* Standards
/--------------------------------------------------------------
--------------------------------------------------------------*/


body {
	background-color:#e0e0e0;
	font-family: 'Mirla', sans-serif;
	margin: 0 0;
	padding: 0 0;
	transition: all .15s linear;
}

@font-face {
  font-family: Mirla;
  src: url("fonts/Mirlakovitch-Regular.otf") format("opentype");
}

div {
	margin: 0 0;
	padding: 0 0;
}

h1 {
	font-size: 108px;
    font-weight: 300;
    line-height: 113%;
    letter-spacing: -1.8px;
    margin:0 0;
    padding: 0 0;
    color: black;
}

h1 b {
	font-weight:300;
	opacity: 0.2;
}

h2 {
	font-size: 36px;
	font-weight: 300;
	letter-spacing: -0.8px;
	margin: 0 0;
	padding: 0 0;
	color: #353330;
}

h3 {
	font-size: 96px;
	font-weight: 300;
	margin: 0 0;
	padding: 0 0;
	color: black;
	line-height: 113%;
    letter-spacing: -0.5px;
}

ul {
	margin: 0 0;
	padding: 0 0;
}

img {
	width:100%;
}

a {
	text-decoration: none;
	color: #353330;
	transition: all .15s linear;
}

a :hover {
	color:#A9A9A9;
	transition: all .15s linear;
}

#main-container {
	display:inline-block;
	width:94%;
	margin-left:3%;
}



/*-------------------------------------------*/
/*-------------- FIXED ELEMENTS ------------*/
/*-------------------------------------------*/


#header {
	width: 100%;
	float:left;
	margin-top: 60px;
	position: fixed;
}

#logo-img {
	width:70px;
}

#left {
	position: fixed;
	margin-top: 70px;
	left: 3%;
}


#right {
	position: fixed;
	margin-top: 70px;
	right: 3%;
}

/*-------------- INTRO-----------------------*/

#welcome {
	display: inline-block;
	float: left;
	margin-top: 70px;
	margin-left:10%;
}

#intro {
	width:90%;
	margin-left: 10%;
	float:left;
	margin-top:300px;
	margin-bottom:300px;
}

#years {
	float: left;
    margin-left: 10%;
}

#lottie-scroll {
	margin-left: 10%;
}


/*-------------- PROOJECTS -----------------*/

.box-image {
	height: inherit;
	margin-bottom:70px;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

.project-opening-wrapper {
	float: left;
	margin-bottom: 70px;
	margin-top:550px;
	width: 90%;
}

.project-number {
	width: 10%;
	float:left;
	margin-top:54px;
}

.project-opening {
	width: 90%;
	margin-left:10%;
}

.project-title {
	width:50%;
	float:left;
}

.project-duties {
	margin-top:68px;
	float:right;
}

.project-duties li {
	text-transform: uppercase;
	font-size: 21px;
	display: inline-block;
	margin-left: 20px;
	font-weight: 600;
	letter-spacing: 0.4px;
}



/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------- ABOUT PAGE -----------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/

#bg-red {
	background-color:#CD6A34;
}

#bg-red #intro {
	width: 80%;
}

#bg-red h2 {
	color:black;
}


#bg-red #intro {
	margin-bottom: 100px;
}

#more {
	display: inline-block;
	margin-right: 10%;
	float: right;
	width:40%;
	margin-bottom: 350px;
}

#more h2 {
	font-size: 42px;
	line-height: 142%;
}

#more h2 a {
    color: black;
    text-decoration: underline;
    transition: all .15s linear;
}

#more h2 a:hover {
    transition: all .15s linear;
    opacity: 0.2;
}


/*-------------------------------------------*/
/*-------------- MEDIA QUERIES -----------------*/
/*-------------------------------------------*/

@media (max-width: 1920px) {
	h1 {font-size:92px;}
	h2 {font-size:30px;}
	h3 {font-size:86px;}
	#logo-img { width:60px; }
	#intro {margin-top:240px; margin-bottom:240px;}
	.project-duties {margin-top:61px;}
	.project-duties li {font-size:18px;}
	.project-opening-wrapper {margin-top:450px;}
	.project-number {margin-top: 49px;}
	#more h2 {font-size:40px;}


}


@media (max-width: 1660px) {
	h1 { font-size:74px; }
	h2 { font-size:26px; }
	h3 { font-size:68px; }
	#logo-img { width:52px; }
	#intro {margin-top: 200px; margin-bottom:200px;}
	.project-duties li {font-size: 16px;}
	.project-number {margin-top: 37px;}
	.project-duties {margin-top: 48px;}
	.project-opening-wrapper {margin-top:420px;}
	#more h2 { font-size: 30px; }

}


@media (max-width: 1440px) {
	h1 { font-size: 60px; }
	h2 { font-size:22px; }
	h3 {font-size:60px;}
	#logo-img { width:45px; }
	#intro {margin-top: 170px; margin-bottom:170px;}
	#right {margin-top:40px;}
	#left {margin-top:40px;}
	#welcome {margin-top: 40px;}
	.project-duties li {font-size: 14px;}
	.project-opening-wrapper {margin-top:250px;}
	.project-number {margin-top: 34px;}
	.project-duties {margin-top: 40px;}
	.project-opening-wrapper {margin-bottom:50px;}
	.box-image {margin-bottom:40px;}
	#more {margin-bottom: 120px;}
	#more h2 {font-size: 24px;}
	#bg-red #intro {margin-bottom: 70px;}
	#more { margin-bottom: 250px;}
}


@media (max-width: 980px) {
	h3 {font-size: 50px;}
	h1 {font-size: 48px;}
	h2 {font-size: 18px;}
	#logo-img { width: 34px;}
	#intro {margin-top: 100px; margin-bottom:100px;}
	.project-opening-wrapper {margin-top:150px;}
	.project-duties li {font-size:12px;}
	.project-opening { width: 30%;}
	#more {width: 60%}
}


@media (max-width: 720px) {
	h1 {font-size: 41px;}
	h2 {font-size: 16px;}
	h3 {font-size: 38px}
	.project-number {margin-top: 19px;}
	.project-duties {margin-top: 19px;}
	.project-duties li {font-size:10px;}
	.box-image {margin-bottom: 20px;}
	#more h2 {font-size: 20px;}
}


@media (max-width: 480px) {
	h1 {font-size: 34px;}
	#intro {margin-top: 70px; margin-bottom:70px;}
	.project-opening {display: inline-block; margin-left: 0%;}
	.project-opening-wrapper {margin-top: 70px; margin-bottom: 30px;}
	.project-number h2 {font-size:10px;}
	.project-duties {margin-top:10px; float:left; margin-left:4%;}
	.project-duties li {margin-left: 10px; font-size: 9px;}
	#more {width: 80%}
	#more h2 {font-size:18px;}
}
